.title {
	text-align: center;
}

.comment-list-wrap {
	margin: 10px auto;
	padding: 10px;
	width: 50%;
	border: 1px dotted #ddd;
	box-shadow: 0 0 3px #ddd;
}

.comment-list-user {
	font-size: 20px;
}

.comment-list-content {
	text-align: center;
}

.comment-list-close {
	float: right;
	cursor: pointer;
	&:hover { 
		background: #ccc;
	}
}